# Archivos de Python
*.pyc
*.pyo
__pycache__/
*.pyd

# Entorno virtual
venv/
ENV/
env/
.venv/
.virtualenv/

# Archivos de configuración de IDEs
.vscode/
.idea/

# Archivos de configuración del sistema operativo
.DS_Store
Thumbs.db

# Archivos de base de datos
*.sqlite3

# Archivos de migraciones
migrations/

# Archivos de logs
*.log

# Archivos de cobertura de pruebas
.coverage
*.cover

# Archivos de caché
*.pot
*.mo
*.pyc

# Archivos de backups
*~
*.bak

# Configuración de Django
db.sqlite3

# Archivos de media y estáticos
/static/
/media/

# Archivos temporales
*.swp
